*{
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
}

html{
    --black: #0D114F;
    --white: #FAFAFA;
    --red: #E83F5B;
    --light-blue: #E0ECFF;
    --blue: #3485FF;
    --background: #FBFCFF;
    --overlay: #040911;
    --icons-details: #A5B0C1;

    --grey-dark: #4D5E77;
    --grey-blue: #A1B2CD;
    --grey-light: #E5EAF1;

    /* 1rem - 16px (User Agent) = 100% */
    /* 10px = 62.5% */
    font-size: 62.5%;
}

body{
    height: 100vh;
    width: 100vw;
    background: var(--background);
}

body, button, input, textarea{
    /* intervalo de tamanho */
    font-size: clamp(14px, 1.6rem, 2vw);
    font-family: 'Open Sans', sans-serif;
    /* font-family: 'Poppins', sans-serif; */
}

h2{
    /* 28px = 28px/10px = 2.8rem */
    font-size: 2.8rem;
}